<link rel="stylesheet" href="/stylesheets/forgot-password.css" />

<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Forgot your password?</h2>
        <p>Change your password in three easy steps. This will help you to
          secure your password!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>Enter your email
            address below.</li>
          <li><span class="text-primary text-medium">2. </span>Our system will
            send you a temporary link</li>
          <li><span class="text-primary text-medium">3. </span>Use the link to
            reset your password</li>
        </ol>
      </div>
      <form class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email">Enter your email address</label>
            <input
              class="form-control"
              type="text"
              id="email"
              API_URL="{{API_URL}}"
              required=""
            /><small class="form-text text-muted">Enter the email address you
              used during the registration on English-Learning-App. Then we'll
              email a link to this address.</small>
          </div>
        </div>
        <div class="card-footer">
          <button id="submit" class="btn btn-success" type="button">Get reset
            password link</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Bấm nút submit -->
<script type="text/javascript">
  $("#submit").on("click", () => { 
    const email = $('#email').val()
    const API_URL = $('#email').attr('API_URL')
    const url = `${API_URL}/user/v1/gen-reset-link/${email}`
    $.get(url)
    const directUrl = `${API_URL}/tmp/Check your gmail`
    window.location.replace(directUrl)
  });
</script>