<div id="variables" API_URL="{{API_URL}}" email="{{email}}"></div>

<div class="col-md-6 offset-md-3">
  <span class="anchor" id="formChangePassword"></span>
  <hr class="mb-5" />

  <!-- form card change password -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">English-Learning-App: Reset password for {{email}}</h3>
    </div>
    <div class="card-body">
      <form class="form" role="form" autocomplete="off">
        <div class="form-group">
          <label for="inputPasswordNew">New Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPasswordNew"
            required=""
          />
          <span class="form-text small text-muted">
            The password must be 8-20 characters, and must
            <em>not</em>
            contain spaces.
          </span>
        </div>
        <div class="form-group">
          <label for="inputPasswordNewVerify">Verify</label>
          <input
            type="password"
            class="form-control"
            id="inputPasswordNewVerify"
            required=""
          />
          <span id="small-text" style="font-size: small;">
            To confirm, type the new password again.
          </span>
        </div>
        <div class="card-footer">
          <button id="submit" class="btn btn-success" type="button" >Reset password</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /form card change password -->

</div>

<!-- Bấm nút submit -->
<script type="text/javascript">
  $("#submit").on("click", () => { 
    const passwordNew = $('#inputPasswordNew').val()
    const passwordNewVerify = $('#inputPasswordNewVerify').val()
    if (passwordNew !== passwordNewVerify) {
      $('#small-text').text('Password unmatch')
      $('#small-text').css('color', 'red')
    } else {
      console.log('passwordNew: ', passwordNew)
      console.log('verify: ', passwordNewVerify)
      const API_URL = $('#variables').attr('API_URL')
      const email = $('#variables').attr('email')
      const data = {
        newPassword: passwordNew,
        email: email
      }
      const url = `${API_URL}/user/v1/update-password/`
      console.log(url)
      $.post(url, data, (data) => {
        console.log(data)
      })
      const redirectUrl = `${API_URL}/tmp/reset your password success`
      console.log(redirectUrl)
      window.location.replace(redirectUrl)
    }
  });
</script>